.wrap{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.wrap .header{
    width: 100%;
    height:50px;
    line-height: 50px;
    border-bottom: solid 4px #ccc;
    display: flex;
}
.wrap .header .left{
    flex:1;
    font-size: 25px;
    margin:0 10px;
}
.wrap .header .right{
    flex:2;
    font-weight: 600;
}
.wrap .content{
    flex:1;
    background:#eee;
    width: 100%;
}
.wrap .content .block{
    width: 100%;
    height:80px;
    background:white;
    border-bottom: solid 1px #ccc;
    display: flex;
}
.wrap .content .block .left{
    flex:1;
    line-height: 50px;
    text-align: center;
    color:red;
}
.wrap .content .block .right{
    flex:2;
    display: flex;
}
.wrap .content .block .right .l{
    flex:3;
}
.wrap .content .block .right .l>p:nth-child(1){
    line-height: 30px;
}
.wrap .content .block .right .l>p:nth-child(2){
    line-height: 20px;
    color:#333;
}
.wrap .content .block .right .l>p:nth-child(3){
    line-height: 30px;
    color:#333;
    text-align: left;
}
.wrap .content .block .right .r{
    flex:1;
    line-height: 100px;
}
.wrap .content .block .right .r img{
    width: 30px;
    height:30px;
    
}
.wrap .footer{
    width: 100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:white;
    background:#108ee9;
}